@use './styles/variables' as *;
@use './styles/clamp' as *;

// ===== BASE STYLES =====

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  @include fluid-padding(16, 24, 320, 1200, 'px');
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
 background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}